body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
header {
	background-color: #333;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}
header h1 {
	margin: 0;
}
main {
	padding: 20px;
}
#books {
	margin-bottom: 30px;
}
#books ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#books li {
	margin-bottom: 20px;
	border: 1px solid #ccc;
	padding: 10px;
}
#books h3 {
	margin-top: 0;
}
#books button {
	background-color: #008CBA;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}
#books button:hover {
	background-color: #005D7E;
}
footer {
	background-color: #333;
	color: white;
	padding: 10px;
	text-align: center;
}
